* {
  margin: 0;
  background-color: #1A355B;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  box-sizing: border-box;
}

.myli {
  background-color: bisque;
  color: red;
}

header {
  color: blue;
  background-color: red;
}

.content-content-box > div {
  background-color: green;
  width: 300px;
  height: 30px;
  margin: 30px;
  border: 10px solid black;
}

#article-1 {
  background-color: aquamarine;
}
#myp {
  color: blue;
}
.myp {
  font-style: 24px;
}

.back {
  background-color: brown;
}

.color-rojo-back-azul {
  color: red;
  background-color: blue;
}

.contenedor {
  margin: 50px;
  background-color: violet;
  padding: 10px;
  border: 5px solid red;
  color: green;
}

.contenido {
  background-color: aquamarine;
  color: #000;
}

.contenedor-con-imagen {
  width: 300px;
  height: 400px;
  padding: 20px;
  background-color: aqua;
  background-image: url("img/Cyberpunk_Edgerunners_@CDProjekt.jpg");
  background-size: cover;
  background-position: center;
}

.contenido-con-imagen {
  background-color: white;
}

span {
  font-weight: bold;
}

p,
span {
  color: blueviolet;
}

main p,
span {
  background-color: aquamarine;
}

.contenedor-parrafo > p {
  font-size: 40px;
}

h1 + p {
  color: red;
}

.container {
  border-top: 1px solid black;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: grey;
  color: #fff;
}

.container > .content > p {
  background-color: white;
  color: black;
  font-size: 25px;
  font-weight: 100;
  font-style: oblique;
}

.content > h3 {
  background-color: bisque;
  font: bold 30px Arial, serif;
  text-align: center;
  line-height: 60px;
}

.mydiv {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  padding: 20px;
  background-color: black;
  background: url(img/Cyberpunk_Edgerunners_@CDProjekt.jpg);
}

.div-in-mydiv {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.9);
}

.div-in-mydiv-2 {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: #ff0000;
}

.div-in-mydiv-3 {
  height: 50px;
  width: 50px;
  margin: 10px 20px 30px 40px;
  border: 1px solid black;
  background-color: #00ff00;
}

.tamano {
  margin: 100px 20px;
  height: 200px;
  width: 200px;
  background-color: black;
}

.tamano-hijo {
  width: 25%;
  height: 25%;
  background-color: red;
}

.div-vh-vw {
  height: 100vh;
  width: calc(100vw - 40px);
  background-color: blue;
}

.punto {
  height: 100pt;
  width: 100pt;
  background-color: red;
}

.div-rem {
  height: 20rem;
  width: 20rem;
  background-color: #00ff00;
}

.div-em {
  height: 20em;
  width: 20em;
  background-color: blue;
}

._contenedor {
  background-color: red;
  width: 500px;
  height: 500px;
}

._contenido {
  background-color: green;
  width: 200px;
  height: 200px;
  max-height: 200px;
  max-width: 200px;
  overflow-x: auto;
  overflow-y: hidden;
}

._otrocontenido {
  background-color: blue;
  width: 150px;
  height: 150px;
}

.contenido-grande {
  height: 400px;
  width: 400px;
  background-color: chocolate;
}

.contenedor-de-bordes > div {
  height: 100px;
  width: 100px;
  border: 18px dotted #00ff00;
  border-radius: 50%;
  margin-top: 20px;
}

.contenedor-de-bordes .borde-1 {
  border-style: dashed;
}

.contenedor-de-bordes .borde-2 {
  border-style: double;
}

.contenedor-de-bordes .borde-3 {
  border-style: outset;
}

.contenedor-de-bordes .borde-4 {
  border-style: inset;
}

.contenedor-de-bordes .borde-5 {
  border-style: groove;
}

.contenedor-de-bordes .borde-6 {
  border-style: solid;
}

.borde-en-una-linea {
  border: 1px solid red;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin-top: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */ /* column, roww, reverse, column-reverse, row-reverse */
  /* flex-wrap: wrap-reverse; */ /* nowrap,wrap, wrap-reverse */
  /*  flex-flow: row wrap; */ /* Es una combinacion de las propiedades flex-directio y flex-wrap */
  font-size: 30px;
  border: 1px solid black;
  padding: 10px;
  align-content: space-around;
  height: 300px;
}
/* Flex Item */
.flex-container > div {
  background-color: #007fff;
  padding: 20px;
  width: 100px;
  text-align: center;
  line-height: 70px;
  height: 70px;
  margin: 10px;
}

.contenedor-perfecto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  width: 200px;
  height: 200px;
}

.contenido-perfecto {
  background-color: #00ff00;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container :nth-child(1) {
  background-color: red;
  color: #fff;
  flex-grow: 1;
}

.flex-container :nth-child(2) {
  flex-grow: 3;
  background-color: #ad33b9;
}
.flex-container :nth-child(3) {
  flex-grow: 3;
  background-color: #00ff00;
}

.flex-container-2 {
  display: flex;
  background-color: #ddd;
}

.flex-container-2 > div {
  background-color: #007fff;
  color: white;
  margin: 10px;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  width: 800px;
}

.flex-container-2 :nth-child(2) {
  flex-shrink: 6;
  background-color: #6ad6f1;
}

.container-grid {
  display: grid;
  background-color: #e75517;
  width: 75%;
  margin: auto;
}

.item {
  background-color: #7360c6;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  border: 1px solid red;
  text-align: center;
  margin: 3px;
}
.grid-columns {
  grid-template-columns: 2fr 400px 1fr;
}

.grid-rows {
  grid-template-rows: 1fr 3fr 1fr;
}

.grid-rows-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.primero {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.estructura {
  height: 100vh;
  width: 75%;
  grid-template-areas:
   "_sidebar _header _header"
   "_sidebar _main _main" 
   "_footer _footer _footer";
  grid-template-rows: 80px 1fr 150px;
  grid-template-columns: 245px 1fr 1fr;
}

._header {
  grid-area: _header;
  background-color: #00ff00;
}

._sidebar {
  grid-area: _sidebar;
  background-color: #9233a9;
}

._main {
  grid-area: _main;
  background-color: #a0b7ff;
}

._footer {
  grid-area: _footer;
  background-color: aqua;
}

.responsivo {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 100%));
  border: 1px solid #007fff;
  gap: 5px;
}

.responsivo > div {
  background-color: #5144c2c5;
  color: #fff;
  padding: 30px;
  text-align: center;
}

/* INTRO JS FILE */

.introJs {
  display: grid;
  grid-template-rows: 70px 1fr 150px;
  grid-template-areas: 
  "header_"
  "main_"
  "footer_";
  min-height: 100vh;
}

.header_ {
  grid-area: header_;
  background-color: #ddd;
  color: #fff;
  padding: 10px;
}

.header_ > h1 {
  display: block;
  background-color: inherit;
  color: #000000;
  font-weight: normal;
}

.main_ {
  grid-area: main_;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.containerJs {
  border-right: 1px solid #979595;
}

.containerJs h2{
  font-weight: normal;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  max-width: 300px;
  min-height: 260px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card > label {
  font-weight: 300;
  color: #ddd;

}

.card input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc75;
  border-radius: 5px;
}

.card button {
  min-width: 50%;
  min-height: 50px;
  margin-top: 30px;
  font-size: 15px;
  background-color: #5974de;
  cursor: pointer;
  border-radius: 3px;
  border: 1.5px solid #000;
  color: #fff;
  font-weight: 500;
  padding: 10px;
  transition: background-color 0.5s;
}

.card button:hover {
  background-color: #ef4e4e;
}

.footer_ {
  grid-area: footer_;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.footer_ > p {
  font-size: 20px;
  color: #fff;
  background-color: inherit;
}
